* {
  margin: 0;
  padding: 0;
}

.header {
  color: beige;
  background-color: #fe5105;
  padding: 25px;
  font-family:'Poppins', 'Montserrat', sans-serif;
  font-weight: bold;
  font-size:16px;

  display: flex;
  justify-content: space-between;   /* 🔥 pushes logo left & list right */
  align-items: center;              /* vertical center */
}

.Orderlist {
  list-style: none;
  display: flex;
  gap: 26px;
}

.header a {
  color: aliceblue;
  text-decoration: none;
}

.header a:hover {
  color: orange;
}
.logo{
  width: 60px;      
  height: auto;
  object-fit: contain;
  border-radius: 6px;
 

}@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
}
.header-text {
  font-family: 'Gilroy';
  font-weight: 700;
}

